html {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

.link--cta {
    color: aquamarine;
    font-size: 14px;
}

p {
    
    font-size: 21px;
    color: grey;
}

footer {
    text-align: right;
    color: grey;
}